@use 'index' as *;
@use 'sass:map';

section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100dvh;
  padding: 10px 16px;
}

.login {
  width: 100%;
  max-width: 540px;
  height: 618px;
  padding: map.get($map: $spacing, $key: '600') map.get($map: $spacing, $key: '200');
  background-color: map.get($map: $theme-colors, $key: 'foreground');
  border-radius: map.get($map: $radius, $key: '16');
}
