@use 'index' as *;
@use 'sass:map';

section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100dvh;
  padding: 10px 16px;
}

.login {

  .login__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: map.get($map: $spacing, $key: '100');

    h5 {
      color: map.get($map: $theme-colors, $key: 'text-foreground');
    }
  }

  .login__form {
    width: 100%;
    margin-top: map.get($map: $spacing, $key: '300');

    & form {
      display: flex;
      flex-direction: column;
      gap: map.get($map: $spacing, $key: '200');

      & .input-label--container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        & div .login__forgot {
          @include text-preset-6;
          color: map.get($map: $theme-colors, $key: 'text-foreground');
        }
      }
    }
  }

  .login__google {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: map.get($map: $spacing, $key: '200');
    width: 100%;

    & div,
    button {
      width: 100%;
      text-align: center;
    }

    & h5 {
      color: map.get($map: $theme-colors, $key: 'text-foreground');
    }
  }

  .login__signup span {
    @include text-preset-5;
    color: map.get($map: $theme-colors, $key: 'text-foreground');

    & a {
      @include text-preset-5;
      text-decoration: none;
      color: map.get($map: $theme-colors, $key: 'text');
    }
  }
}
